<!DOCTYPE html>
<html lang="en" dir="ltr">
  <script src="https://kit.fontawesome.com/59d8afb937.js" crossorigin="anonymous"></script>

<head>
    <meta charset="utf-8">
    <title>Lil'Learn Welcome</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style >

#g   {
  display: none;
}
body{
  font-family: 'Luckiest Guy', cursive;
font-family: 'Merriweather', serif;
font-family: 'Recursive', sans-serif;
font-family: 'Ubuntu', sans-serif;

}
.container {
position: relative;
width: 100%;
max-width: 400px;
}

.container img {
scale:1.2;

height: auto;
}


.rotate {
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.container .btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: #555;
color: white;
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
}

.container .btn:hover {
background-color: black;
}
.delay{
  opacity: 1;
  transition: ease-out;
  transition-delay: 3s;
}
.fit
{
  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: -1;
}
.newclass{
  font-family: 'Luckiest Guy', cursive;
  display: inline-block;
  
  margin-left: 8%;
  top:25%;
  position: absolute;
  z-index: -1;

}
.desc{
font-family: sans-serif;
  margin-left: 8%;
  
  display: inline-block;
  position: absolute;
  z-index: -1;
  top:50%;
  font-size: 1.4vw;
  right:38%;
  text-align: justify;


}
.desc1{
font-family: sans-serif;

  margin-left:8%;
  font-weight: bold;
  display: inline-block;
  position: absolute ;
  z-index: -1;
  top:67%;
  font-size: 1.4vw;

  text-align: justify;
  
}

.g:hover{
  background-color: #54a887;

}


</style>

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Merriweather:wght@900&family=Recursive:wght@500&family=Ubuntu&display=swap" rel="stylesheet">


    <script src=" https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>

    <script src="https://kit.fontawesome.com/433f1b34e2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<link rel="icon" href="https://docs.google.com/uc?id=1T2q0QcgrB5lJ6wqd-jYW4HAWr5YeXasA">
    <link rel="stylesheet" type="text/css" href="/css/stats.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<body style="background-color:#e5fce7;">
 
  <div id="mail" style="bottom:15%;  z-index:1;position:fixed; padding-top:1%;  right:2%; width:25%; " class="card cloud">

    <a href="javascript:myfun3();" style="text-decoration: none; margin-left:90% ;margin-top:5%"> ❌</a>
    
    <div class="" style="padding: 16% 8% 18%;">
      <div class="">
        <img class="rocket" src="https://docs.google.com/uc?id=1k4iZUhb1QL0mSBr3E903xBENzXG27Mmc" alt="rocket_contact" />
      </div>
      <form method="post" action="/success_t">
        <h3>Inform to Parents</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" style="border: none;">
              <input type="text" name="stud_name" class="form-control"  placeholder="Student Name " value="" /><br>
            </div>
            <div class="form-group" style="border: none;">
              <input type="text" name="stud_id" class="form-control" placeholder="Student ID. " value="" /><br>
            </div>
           
  
          </div>
          <div class="col-md-6">
            <div class="form-group" style="border: none;">
              <textarea name="remarks" class="form-control" placeholder="Remarks" style="width: 100%; height: 120px;"></textarea>
            </div>
          </div>
  
  
              <div class="col-md-6 col-sm-6">
                <input type="hidden" name="_next" value="https://www.lillearn.com/thankyou">
                <input class="dp" type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
              </div>
  
  
        </div>
      </form>
    </div>




  </div>

  <div style="top: 125%;  z-index:1;position:absolute; text-align:center; left:30%; width:35%;  " class="card text-center" id="readMore">
    <div class="card-header">
      Student's LO  <a href="javascript:myfun1()" style="text-decoration: none;"> <span style="right: 0; left:65%">❌</span>  </a> 

    </div>
    <div class="card-body" id="stud">
      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
      <canvas id="multipleLineChart" width="400" height="400"></canvas>
      <!-- <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer text-muted">
      Statistics
    </div>
  </div>

  

  <div id="blur"> 

  <!-- <video src="/css/new2.mp4" autoplay loop muted poster="posterimage.jpg">

  </video> -->
  <!-- <img src="/css/welcomebg.png" class ="fit" alt=""> -->
  <div class="introduction">
    <h1 class="log-header">
      <span style="color:#033808 "class="log">Successfully </span>
      <span class="log">Signed In! <i class="fas fa-clipboard-check"></i></span>
    </h1>

  </div>



  <header>
         <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">


             <a style="margin-left:80px; font-size: 2.6rem;" class="navclass navbar-brand " href="/"> <img class="logo1" src="https://i.imgur.com/nmkZOyJ.png" alt=""> Lil'Learn
             </a>
             <button class="navbar-toggler" style="margin-right:10%;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" style="margin-left:10%;" id="navbarCollapse">
                 <ul class="navbar-nav ms-auto" >
                     <li class="nav-item active">
                         <a style="margin-right:30px;font-size: 1rem;" class="nav-link  ms-auto" href="#">Home </a>
                     </li>
                     <li class="nav-item active">
                      <a style="margin-right:30px;font-size: 1rem;" class="nav-link  ms-auto" href="https://schmich.github.io/instascan/">Scan Code </a>
                  </li>
                     <li class="nav-item active">
                      <a style="margin-right:30px;font-size: 1rem;" class="nav-link  ms-auto" href="/addStudent?teacherID=<%=idd%>">Add Students </a>
                  </li>
                  <li class="nav-item active">
                    <a style="margin-right:30px;font-size: 1rem;" class="nav-link  ms-auto" href="#stats">Statistics </a>
                </li>
                  <li class="nav-item active">
                    <a style="margin-right:30px;font-size: 1rem;" class="nav-link  ms-auto" href="/teacher_tests?teacherID=<%=idd%>">Tests </a>
                </li>
                     <li class="nav-item">
                         <a style="margin-right:80px; font-weight: bold;font-size: 1rem; color: white;" class="nav-link" href="/logout">Sign Out</a>
                     </li>

                 </ul>

             </div>
         </nav>
     </header>
<section >
  <div class="row">
  
    <div class="col-lg-9 col-md-9 col-sm-9">
      <div class="newclass">
  
     <h1 style="font-size:4vw; padding-top:10%;">To teach is to touch </h1>
       <h1 style="font-size:3.5vw; "> lives forever.</h1>
        </div>
        <p class="desc" style=" padding-top:3%;">Join our hands to bring forth the best in every child. Don't be merely a teacher, become an awakener. Come and experience the magic of Lil'Learn as it enables the students to soar to new heights. </p>
        <p class="desc1" style="color: black;  padding-top:4%;"> Experience a unique teaching experience ...</p>
        <input type="text" id = "tech" hidden value="<%= idd %>" name="techid">
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top:3.7%; z-index:-1;">
      <img src="css/backcircle.png"  class ="rotate" alt="" style="z-index:-1;margin-left:-46%;scale:1.15;margin-top:52%;width:140%; ">
      <div style="margin-top:-95%">
        <img src="css/teacher1.png"  alt="" style="z-index:1;margin-left:-46%;scale:1.25;width:130%; ">
        
      </div>
    </div>
  
   
  </div>

 

</section>
  


<section id="stats" style="background-image: linear-gradient(#e5fce7,white, #e5fce7);">

<!-- <div style="margin-top: 100px;"></div>
<input type="text" hidden value="<%= p %>" id="plist" />
<label class="student" for="">Select the class</label>
<select id="classVal" onchange="myFunction()" class="student" name="" style="margin-bottom: 4%;" >
 <% cl.forEach(c=>{ %>
    <option  value="<%= c %>"> <%= c %> </option>
    <h1><%= c %></h1>
   <% }) %>
 -->



<div class="student">
  <h1> </h1>

  <div class="row">


    <div class="col-lg-6 col-md-6 " style="padding-top: 6%; padding-left:5%; padding-bottom:2%;"data-aos="fade-up" data-aos-duration="2000">

      <div style="margin-top: 10%;"></div>
      <input type="text" hidden value="<%= p %>" id="plist" />
      <label class="student" for="" style="color:#033808; font-size:1.5rem;">Select the Class:</label>
      <select id="classVal" class="student" name="" onchange = "myFunction()" style="margin-bottom: 4%; padding-left:2%; margin-left:2%;padding-bottom:1%; width:10%; height:6%;" >
       <% cl.forEach(c=>{ %>
          <option  value="<%= c %>"> <%= c %> </option>
          <h1><%= c %></h1>
         <% }) %>
      
      </select>

      
      <div style="height: 370px; overflow: auto; margin-top:6%;" data-aos="fade-right" data-aos-duration="2000">
<div class=" container2">
  <table style="max-height:60px; overflow-y:auto;" class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th style="width:25%"  scope="col">Student Name</th>
        <th style="width:25%" scope="col"> Student ID</th>
        <th style="width:30%" scope="col">Student LO</th>
        <th style="padding-left:5%;" scope="col">Analysis</th>
      </tr>
    </thead>

    <tbody id="tb1">
      

    </tbody>
  </table>
  </div>
  </div>
  </div>


  <div class="col-md-6 col-lg-6" style="padding-top: 13%; padding-bottom:2%;"data-aos="fade-left" data-aos-duration="2000">

    <h1 style="padding-top: 4%;  font-size:2.7rem; color:#287335; padding-left:10%;  padding-right:10%;"data-aos="fade-left" data-aos-duration="2000">Student-Wise LO Grade</h1>
    <div style="padding-right: 3%;">
    <h4 style="padding-top: 5%; font-weight:100; padding-left:10%; text-align:justify;  padding-right:10%;"data-aos="fade-up" data-aos-duration="1500">From the drop-down menu in the top left corner, choose the class and
       section. Each student in the specified class and section is profiled 
       in the table on the left. Find the student's name in the table and click
        "Read More" to learn more about the LO grade. Your screen will provide 
        an in-depth analysis and the progress of the students.</h3>
  </div>
  </div>

</div>
</section>

<section style="margin-top:-2%;padding-left:3%; padding-bottom:12%;background-image: linear-gradient(#e5fce7,white, #e5fce7);">

<div class=" row">

<div class="col-lg-6 col-md-6" data-aos="fade-right" data-aos-duration="2500">
  <h1 style="  font-size:2.7rem; color:#287335; padding-left:10%;  padding-right:10%;" data-aos="fade-right" data-aos-duration="1500">Tests Performance</h1>
  <div style="padding-right: 3%;">

    </select>

  <h4 style="padding-top: 5%; font-weight:100; padding-left:10%; text-align:justify;  padding-right:10%;">On the right side, a comprehensive graph can be observed to learn the details of each student's score per class. The progress of each class can be evaluated.
    The graph provides a thorough assessment of how the chosen class performed in a series of tests. It compares the average scores obtained by students of that class on an examination to all other examinations that have been conducted.</h4>
</div>
</div>
<div class="col-lg-6 col-md-6"  data-aos="fade-left" data-aos-duration="2000">
  <label class="student" for="" style="color:#033808; font-size:1.5rem;">Select the Class:</label>
  <select id="classVal" class="student" name="" onchange = "myFunction()" style="margin-bottom: 4%; padding-left:2%; margin-left:2%;padding-bottom:1%; width:10%; height:8%;" >
   <% cl.forEach(c=>{ %>
      <option  value="<%= c %>"> <%= c %> </option>
      <h1><%= c %></h1>
     <% }) %>
  
  </select>
<canvas id="myChart" class="chart"></canvas>
</div>
</div>
</section>

<section style="padding-left:8%;padding-top: 10%; padding-bottom:12%;background-image: linear-gradient(#e5fce7,white, #e5fce7);">

  <div class=" row">
  
  <div class="col-lg-6 col-md-6"data-aos="fade-right" data-aos-duration="1500">
     
    <div id="chartContainer" style="height: 370px; width: 95%;" class="chart2">
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>
   
  </div>
  <div class="col-lg-6 col-md-6"data-aos="fade-left" data-aos-duration="1500">
    <h1 style="  font-size:2.7rem; color:#287335; padding-left:5%;  padding-right:10%; margin-top:-3%;" data-aos="fade-right" data-aos-duration="1500">Performance Of Classes</h1>
    <label for="" style="margin-left: 5%; font-size:1.3rem;">Customize graph</label>
    <hr>
    <div style="margin-left: 10%;">
     
    <select id="graph_class"  multiple  class="student"   style="margin-bottom: 4%;height:31.5%; padding-left:5%; margin-top:0.5%; margin-left:2%; width:25%;" >
      <% cl.forEach(c=>{ %>
         <option  value="<%= c %>"> Class <%= c %> </option>
         <h1><%= c %></h1>
        <% }) %>
     </select>

     <button type="button" class ="btn btn-success" onclick="customize()" style="margin-left:5%; margin-top:-11%;">Customize</button>
    
    </div>
    <div style="padding-right: 3%;">
    <h4 style="padding-top: 5%; font-weight:100; padding-left:5%; text-align:justify;  padding-right:10%;">Your allocated classes and their performance are shown in the graph on the right. From the examinations conducted, the average results for each class are shown. It may be used efficiently to compare classes and determine how much attention should be given to each class.</h4>
    
    
  </div>
  </div>
  </div>
  </section>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
      AOS.init();
  </script>
<script>
  const loo=[];
  window.onload=function(){
    var db=document.getElementById("plist").value;
    db=JSON.parse(db);
    var total=new Map();
    var num=new Map();
    db.forEach(s=>{
      var m=s.marks;
      var c=s.class;
      if(!num.has(c))
      num.set(c,0);
      if(!total.has(c))
      total.set(c,0);
      num.set(c,m.length+num.get(c));
      for(var i=0;i<m.length;i++){
        for(var j=0;j<m[i].length;j++){
          total.set(c,m[i][j]+total.get(c));
        }
      }
    })
    console.log(total);
    console.log(num);
    
    num.forEach((key,value)=>{
      if(key===0){
        loo.push({y:0,label:value})
      }else{
        var vvv=parseFloat((total.get(value)/key).toFixed(2));
        loo.push({y:vvv,label:value})
      }
    })
    console.log(loo);
    draw(loo);
  }
  
  function customize(){
    var options=document.getElementById("graph_class").selectedOptions;
    var values = Array.from(options).map(({ value }) => value);
    console.log(values);
    var newL=[];
    loo.forEach(e=>{
      values.forEach(v=>{
        if(e.label===v){
          newL.push(e);
        }
      })
    })
    console.log(newL);
    draw(newL);
  }
  function draw(loo){
    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      theme: "light1", // "light1", "light2", "dark1", "dark2"
      title:{
        text: "Class Wise Comparision"
      },
      axisY: {
        title: "L.O. Points"
      },
      axisX: {
        title: "Classes"
      },
      data: [{        
        type: "column",  
        showInLegend: false, 
        
        dataPoints: loo
      }]
    });
    chart.render();
  }





  var card=document.getElementById("readMore");
  card.style.display="none";
  function myfun(std){
    var x=document.getElementById("blur");
    x.style.opacity=0.5;
    card.style.opacity=1.0;

    std=parseInt(std);
    card.style.display="block";
    console.log(std);
    var db=document.getElementById("plist").value;
    db=JSON.parse(db);
    var basis=[],a1=[],a2=[],a3=[],a4=[];
    db.forEach(s =>{
      if(s.studentID==std){
        var mr=s.marks;
        for(var i=0;i<mr.length;i++){
          basis.push("Test"+(i+1));
          a1.push(mr[i][0]);
          a2.push(mr[i][1]);
          a3.push(mr[i][2]);
          a4.push(mr[i][3]);
        }
      }
    });
    console.log(a1);
    console.log(a2);
    console.log(a3);
    console.log(a4);
    const ctx = document.getElementById('multipleLineChart').getContext('2d');

    const chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: basis,
        datasets: [{
            label: 'Section 1',
            data: a1,
            borderWidth: 1,
            fill: false,
            borderColor: 'red'
          },
          {
            label: 'Section 2',
            data: a2,
            borderWidth: 1,
            fill: false,
            borderColor: 'green'
          },
          {
            label: 'Section 3',
            data: a3,
            borderWidth: 1,
            fill: false,
            borderColor: 'blue'
          },
          {
            label: 'Section 4',
            data: a4,
            borderWidth: 1,
            fill: false,
            borderColor: 'yellow'
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }
  function myfun1()
  {
    
    var x=document.getElementById("blur");
    x.style.opacity=1.0;

    card.style.display="none";
  }
var db=document.getElementById("plist").value;
db=JSON.parse(db);
var classVal=document.getElementById("classVal").value;




var names=[];
var ids=[];
var lo=[];

var total_marks=[];
var no_of_students=[];
db.forEach(s => {
  if(s.class===classVal){
    var mr=s.marks;
    var vv=0;
    var no_t=mr.length;

    console.log(s.studentID);
    for(var i=0;i<mr.length;i++){
      var val=0;
      for(var j=0;j<mr[i].length;j++){
        val+=mr[i][j];
        vv+=mr[i][j];
      }
      if(i < total_marks.length){
        total_marks[i]+=val;
        no_of_students[i]+=1;
      }else{
        total_marks.push(val);
        no_of_students.push(1);
      }
      
    }

    names.push(s.fname);
    ids.push(s.studentID);
    if(no_t===0){
      lo.push(0);
    }else{
      lo.push(parseFloat((vv/no_t).toFixed(2)));
    }
  }
  
});
console.log(names);
console.log(ids);
console.log(lo);

var basis=[];
var ratio=[];
for(var i=0;i<total_marks.length;i++){
  ratio.push(parseFloat((total_marks[i]/no_of_students[i]).toFixed(2)));
  basis.push(i+1);
}
// console.log(ratio);
// console.log(basis);

// var xValues = [50,60,70,80,90,100,110,120,130,140,150];
// var yValues = [7,8,8,9,9,9,10,11,14,14,15];
var xValues=basis;
var yValues=ratio;
new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    responsive: true,
    legend: {display: false},
    scales: {
      
      yAxes: [{ticks: {min: 0, max:25}, scaleLabel: {
        display: true,
        labelString: 'Average Marks'
      }}],
      xAxes: [{ticks: {min: 0, max:25}, scaleLabel: {
        display: true,
        labelString: 'Number Of Tests'
      }}]
     
    }
  }
  });
  

  var cl=document.getElementById("classVal");
  function myFunction(){
    console.log(cl.value);
    var db=document.getElementById("plist").value;
    db=JSON.parse(db);
    var classVal=cl.value;

    names=[];
    ids=[];
    lo=[];

    var total_marks=[];
    var no_of_students=[];
    db.forEach(s => {
      if(s.class===classVal){
        var mr=s.marks;
        var vv=0;
        var no_t=mr.length;
        // console.log(s.studentID);
        for(var i=0;i<mr.length;i++){
          var val=0;
          for(var j=0;j<mr[i].length;j++){
            val+=mr[i][j];
            vv+=mr[i][j];
          }
          if(i < total_marks.length){
            total_marks[i]+=val;
            no_of_students[i]+=1;
          }else{
            total_marks.push(val);
            no_of_students.push(1);
          }
          
        }
        names.push(s.fname);
        ids.push(s.studentID);
        if(no_t===0){
          lo.push(0);
        }else{
          lo.push(parseFloat((vv/no_t).toFixed(2)));
        }
      }
    });
    console.log(names);
    console.log(ids);
    console.log(lo);
    
    // console.log(total_marks);
    // console.log( no_of_students);
    var basis=[];
    var ratio=[];
    for(var i=0;i<total_marks.length;i++){
      ratio.push(parseFloat((total_marks[i]/no_of_students[i]).toFixed(2)));
      basis.push(i+1);
    }
    // console.log(ratio);
    // console.log(basis);

    // var xValues = [50,60,70,80,90,100,110,120,130,140,150];
    // var yValues = [7,8,8,9,9,9,10,11,14,14,15];
    var xValues=basis;
    var yValues=ratio;
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
       
        scales: {
          yAxes: [{ticks: {min: 0, max:20}}],
        }
      }
    });
    tableCreate();
  }


  function tableCreate() {
  var tbody=document.getElementById('t1')
  var tbody=document.getElementById('tb1')
  tbody.innerHTML="";
  for (let i = 0; i < names.length; i++) {
        const tr = tbody.insertRow();
        const td1 = tr.insertCell();
        td1.appendChild(document.createTextNode(i+1));
        
        const td2 = tr.insertCell();
        td2.appendChild(document.createTextNode(names[i]));
        
        const td3 = tr.insertCell();
        td3.appendChild(document.createTextNode(ids[i]));
        
        const td4 = tr.insertCell();
        td4.appendChild(document.createTextNode(lo[i]));
        
        const td5 = tr.insertCell();
        var btn = document.createElement("button");
        var text1 = document.createTextNode("Read More");
        btn.appendChild(text1);
        btn.setAttribute("id", "btn"+i);
        btn.setAttribute("class", "btn btn-success");
        btn.setAttribute("value",ids[i]);
        var v=btn.value;
        btn.setAttribute("onclick", "myfun(value)");
        btn.setAttribute("style", "float:left;margin-left:20px; width:130px;");

        td5.appendChild(btn);
        
    
  }
  // table.appendChild(tbody);
}

tableCreate();

</script>
  <!-- <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-6">


  <div class="">
    <div class="">
      <img class="rocket" src="https://docs.google.com/uc?id=1k4iZUhb1QL0mSBr3E903xBENzXG27Mmc" alt="rocket_contact" />
    </div>
    <form method="post" action="https://formsubmit.co/lillearn.13@gmail.com">
      <h3>Inform to Parents</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" style="border: none;">
            <input type="text" name="txtName" class="form-control" placeholder="Student Name " value="" /><br>
          </div>
          <div class="form-group" style="border: none;">
            <input type="text" name="txtEmail" class="form-control" placeholder="Student Roll No. " value="" /><br>
          </div>
         

        </div>
        <div class="col-md-6">
          <div class="form-group" style="border: none;">
            <textarea name="txtMsg" class="form-control" placeholder="Remakrs" style="width: 100%; height: 120px;"></textarea>
          </div>
        </div>


            <div class="col-md-6 col-sm-6">
              <input type="hidden" name="_next" value="https://www.lillearn.com/thankyou">
              <input class="dp" type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
            </div>


      </div>
    </form>
  </div>
</div>
</div> -->



<!-- <button type="button"  id="g" style="background-color:#328073; position: absolute;bottom: 100px;right: 100px;width:300px;height:80px;" class="btn  "><a id="link" style="text-decoration:none;color:white;font-size:1.8vw;"href="css/setup.exe">Download Software</a></button> -->

<!-- <a id="g"href="https://docs.google.com/uc?export=download&id=1c-LHVk4COsDctG8swEnTpKI0hJAj8V2p"> <button type="button"   style="background-color:#387543; z-index: 1;position: absolute;top:80%;right: 71.5%;width:20%;height:70px;" class="btn g"> <p style="color:white;font-size:1.6vw; padding-top:3%;">Download Software</p> </button></a> -->


     <p class="delay"style="font-size: 1.1vw; margin-left: 80%;z-index:-1;font-weight: bold;position:absolute; top:16%;"> Welcome, <span class="span" style="font-size:1.1vw; color:#387543"><%=fname%> <%=lname%></span> </p>



  </section>

        <!-- <canvas class="background">
            </canvas> -->
        <!-- <script>
            window.
            onload
                = function() {
                    Particles.
                    init
                        ({
                            selector: '.background'
                        });
                };
        </script> -->


      <script >
        var blur=document.getElementById("blur");
        var mail=document.getElementById("mail");
        mail.style.display="none";
        function myfun2()
        {
          mail.style.display="block";
          blur.style.opacity=0.2;
        }
        function myfun3()
        {
          mail.style.display="none";
          blur.style.opacity=1.0;
        }
      $(document).ready(function() {
        setTimeout(function() {
          $("#g").show();
        }, 2500);
      });



    // var x=document.getElementById('g');
    //   setTimeout(function() {
    //       x.style.zIndex=0;
    //   }, 3000);



      let intro=document.querySelector('.introduction');
      let logo=document.querySelector('.log-header');
      let logoSpan=document.querySelectorAll('.log');
      window.addEventListener('DOMContentLoaded',()=>{
        setTimeout(()=>{
          logoSpan.forEach((span,idx)=>{
            setTimeout(()=>{
              span.classList.add('active');
            },(idx+1)*400)
          });
          setTimeout(()=>{
            logoSpan.forEach((span,idx)=>{
              setTimeout(()=>{
                span.classList.vwove('active');
                span.classList.add('fade');
              },(idx+1)*2000)
            })
          },2000);
          setTimeout(()=>{
            intro.style.top='-100vh';
          },2300)
        })
      })


      </script>
      
        <!-- <h1>fklndsjkg</h1> -->


<div >
   <a href="javascript:myfubnb2();" > <img src="/css/parent1.png" onclick="myfun2()" id="connect" class="kuch" alt=""></a> 

</div>

       
      
      <div class=" footer " >
        <i class="footer-image fab in fa-instagram fa-2x "></i>
        <i class="footer-image fab face fa-facebook fa-2x "></i>
        <i class="footer-image fab tw fa-twitter fa-2x "></i>
        <i class="footer-image fas mail fa-envelope fa-2x "></i>
        <p>© Copyright 2022 Lil'Learn</p>
    </div>

</div>

</body>

</html>